# =====================
# Java
# =====================
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# Diretórios de build
bin/
build/
out/
target/

# Logs e arquivos temporários
*.log
*.tmp
*.bak
*.swp

# =====================
# IntelliJ IDEA
# =====================
.idea/
*.iml
*.iws
*.ipr
out/

# =====================
# Sistema
# =====================
.DS_Store
Thumbs.db
